{% extends 'ecommerce/base.html' %}

{% block title %}apropos{% endblock %}
{% block content%}
<header class="px-6 py-10 lg:py-20 bg-indigo-700">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl  text-white">A propos de l'entreprise</p>
        <p class="mb-10 text-white">Ce site a été realisé dans le cadre de mon apprentissage du langage Python et son Framework django et pourrait eventuellement etre amélioré en ajoutant d'autres fonctionnalités. Par ailleurs, il convient de retenir que je n'ai aucun @droit sur les images utilisées.  Source images: google.com 
            <br><strong>Pour la simulation du paiement mettez à la place de votre numéro carte bancaire ce numéro: 4242 4242 4242 4242 pour les autres informations mettez ce que vous voulez en respectant les pré-requis des champs.</strong><br>
            Avant d'effectuer un achat il faut bien sûr se connecter d'abord, je vous mets les informations de connexion: <br>
            <b>Nom utilisateur: admin1</b><br>
            <b>Mot de passe: Admin1234567@</b>          
            <br>
         </p>

    </div>

</header>


{% endblock %}